body {
    margin:auto;
    max-width: 80%;
}

h1 {
    font-family: Courier, Monospace;
	text-align: center;
	font-size: 85px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width:20%;
    float:left;
}

.header {
    text-align: center;
    margin:auto;
    overflow: auto;
    width:80%;
}

#logo {
    margin-top: 1.5%;
    display: inline;
    float:left
}

img#warehouse {
	margin: 10px;
	border: 2px solid black;
}

.warehouse {
	float:left;
	width:40%;
	display:block;
    vertical-align: middle;
}

.description {
    font-family: Courier, Monospace;
    font-size: 20px;
	float:left;
	width:50%;
	margin:10px;
	margin-top:20px;
    padding-left: 25px;
}

.row:after {
    width:100%;
    content: "";
    display: table;
    clear: both;
}
div#miscellaneous{
	float:left;
	width:100%;
}
div#miscellaneous ul{
	list-style:none;
}

div#miscellaneous ul li{
	text-align:center;
	float:left;
	width:23%;
	border:solid 1px black;
	margin-right:3px;
	height:75px;
}

div#miscellaneous ul li a{
	text-decoration: none;
	margin-left:15px;
	margin-right:15px;
}

div#slideshow {
  text-align: center;
  margin:auto;
  max-height:5%;
  max-width: 50%;
}

span#caption {
  text-align:justify;
  max-width: 50%;
  font-family: Courier, Monospace;
}

img#places {
  max-height: 300px;
  width:auto;
}

span#photo {
  text-align: center;
}

.footer {
	float:bottom;
    text-align: center;
	margin-top:120px;
	border-top: solid black 2px;
}

.nav {
  font-family: Franklin, Serif;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-top: 1px double;
  border-bottom:1px double;
  font-size:20px;
}

.nav a:hover {
  text-decoration: none;
  color: #000;
  background: #999;
}

.nav a {
  text-decoration: none;
  color: #000;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 10px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
