body {
    margin:auto;
}

h1 {
	text-align: center;
	font-size: 85px;
}

#logo {
	position: absolute;
	left: 100px;
}

img#warehouse {
	margin: 10px;
	border: 2px solid black;
}

div#warehouse {
	float:left;
	width:40%;
	display:inline-block;
}

.description {
    font-family: Courier, Monospace;
    font-size: 20px;
	float:left;
	width:50%;
	margin:10px;
	margin-top:20px;
    padding-left: 25px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
div#miscellaneous{
	float:left;
	width:100%;
}
div#miscellaneous ul{
	list-style:none;
}

div#miscellaneous ul li{
	text-align:center;
	float:left;
	width:23%;
	border:solid 1px black;
	margin-right:3px;
	height:75px;
}

div#miscellaneous ul li a{
	text-decoration: none;
	margin-left:15px;
	margin-right:15px;
}

.footer{
	float:bottom;
    text-align: center;
	margin-top:120px;
	border-top: solid black 2px;
}

.nav {
  font-family: Franklin, Serif;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-top: 1px double;
  border-bottom:1px double;
  font-size:20px;
}

.nav a:hover {
  text-decoration: none;
  color: #000;
  background: #999;
}

.nav a {
  text-decoration: none;
  color: #000;
}